#!/bin/bash

daemon_name=nginx

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/$daemon_name

ck_config() {
	stat_busy "Checking $daemon_name configuration"
	# CHECK
	$daemon_name $NGINX_ARGS -t -q
	#
	if [[ $? -gt 0 ]]; then
		stat_fail
		exit 1
	else
		stat_done
	fi
}

case "$1" in
	start)
		ck_config
		stat_busy "Starting $daemon_name daemon"
		# RUN
		$daemon_name $NGINX_ARGS
		#
		if [[ $? -gt 0 ]]; then
			stat_fail
			exit 1
		else
			add_daemon $daemon_name
			stat_done
		fi
		;;

	stop)
		stat_busy "Stopping $daemon_name daemon"
		# KILL
		$daemon_name $NGINX_ARGS -s stop
		#
		if [[ $? -gt 0 ]]; then
			stat_fail
			exit 1
		else
			rm_daemon $daemon_name
			stat_done
		fi
		;;

	restart)
		$0 stop
		sleep 3
		$0 start
		;;

	reload)
		ck_config
		stat_busy "Reloading $daemon_name configuration"
		# KILL
		$daemon_name $NGINX_ARGS -s reload
		#
		if [[ $? -gt 0 ]]; then
			stat_fail
			exit 1
		else
			stat_done
		fi
		;;

	reopen)
		ck_config
		stat_busy "Reopening $daemon_name files"
		# KILL
		$daemon_name $NGINX_ARGS -s reopen
		#
		if [[ $? -gt 0 ]]; then
			stat_fail
			exit 1
		else
			stat_done
		fi
		;;

	status)
		stat_busy "Checking $daemon_name status";
		ck_status $daemon_name
		;;

	*)
		echo "usage: $0 {start|stop|restart|reload|reopen|status}"
esac

exit 0

# vim: set ts=2 sw=2 noet:
