[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
PrivateKey=
ListenPort=51820

[WireGuardPeer]
PublicKey=pz6aa/EO0zXfc9NvKmT0fNF70Lwch4C5I0nRGiHfB2Y=
AllowedIPs=10.7.0.100/32
Endpoint=192.168.56.1:51820

[WireGuardPeer]
PublicKey=/EpJGqLoQmeeWag8aOJf6WNy7dGZewGWM3xdxoAXzj4=
AllowedIPs=10.7.0.103/32
Endpoint=195.54.213.223:51820

[WireGuardPeer]
PublicKey=XZRgBZVvbRyfuaJBIvgIGxzsGm+Fi9dOPmMrfUd9uyg=
AllowedIPs=10.7.0.104/32
Endpoint=195.54.214.173:51820
