[Unit]
Description=A Process Monitoring Framework in Ruby
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/god.pid
ExecStart=/usr/bin/god -P /run/god.pid -c /etc/god.conf
ExecStop=/usr/bin/god -P /run/god.pid -c /etc/god.conf quit

[Install]
WantedBy=multi-user.target
