[Unit]
Description=%i resque workers
After=network.target redis.service postgresql.service

[Service]
User=%i
WorkingDirectory=/srv/%i/current
PIDFile=/srv/%i/shared/pids/resque_workers.pid
Environment=RAILS_ENV=production
Environment=PIDFILE=/srv/%i/shared/pids/resque_workers.pid
Environment=QUEUE=*
ExecStart=/usr/bin/bundle exec rake environment resque:work
ExecStop=/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target
